.AboutVideo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.9);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AboutVideo video{
    width: 90%;
    max-width: 850px;
    height: auto;
    border: 4px solid white;
    border-radius: 10px;
}
.AboutVideo.hide{
    display: none;
}